


:root{
    --branding-color: black;
    --secondary-color: white;
    --light-color:#343F45;
    --details-color: linear-gradient(90deg, rgb(235, 83, 128), rgb(139, 102, 241));
    --default-font-family: "Ancizar Sans", sans-serif;
    --secondary-font-family: "Big Shoulders Inline", sans-serif;
}

a {
    text-decoration: none;
    color: inherit; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: var(--branding-color);

}


/* HEADER */

h1{
    font-family: var(--secondary-font-family);
    font-weight: light 300;
    font-size: 70px;
    background: var(--details-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.5;

}



h2{
    font-family: var(--default-font-family);
    font-weight: 300;
    font-size: 50px;
    color: var(--secondary-color);
}

.hero{
    background-color: var(--branding-color);
    text-align: center;
    color: var(--secondary-color);
    padding: 160px 20px;
   
}

.content-container{
    padding: 160px 20px;
    

}

.content h1{
    font-size: 64px;
    line-height: 1.5;
    text-align: center;

}

.content h2{
    font-size: 18px;
    line-height: 1.5;
    color: var(--secondary-color);
    font-weight: 300;
    font-family: var(--default-font-family);
}

.content{
    margin: 30px;
}   

.content h3{
    font-size: 24px;
    line-height: 1.5;
    color: var(--secondary-color);
    font-weight: 300;
    font-family: var(--default-font-family);
    margin: 20px 0 0;
}

.content p{
    font-size: 14px;
    
    
}

.hero h2{
    color: var(--secondary-color);
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    font-family: var(--default-font-family);



}
.hero-tagline{
    color: var(--light-color);
    font-weight: 300;
    font-size: 2rem;
    font-family: var(--default-font-family);
    line-height: 1;

}
 

p{
    font-size: 16px;
    font-family: var(--default-font-family);
    font-weight: 300;
    font-style: normal;
    color: var(--secondary-color);
    line-height: 30px;
}
/* BUTTON */

.btn{
background-color: var(--light-color);
font-size: 12px;
font-weight: 500;
text-transform: uppercase ;
color: var(--secondary-color);
padding: 8px 15px;
border-radius: 5000px;
transition: transformt 0.5s;
line-height: 27px;

}

.btn:hover{
    transform: scale(1.15);
    background-image: var(--details-color); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; 
}

.btn-branding{
background-color: var(--light-color);
font-size: 12px;
font-weight: 500;
text-transform: uppercase ;
color: var(--secondary-color);
padding: 8px 15px;
border-radius: 5000px;
transition: transformt 0.5s;
line-height: 27px;

}
.btn-branding:hover{
transform: scale(1.15);
background-image: var(--details-color); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: transparent; 
}


.project-description{
    padding:120px 60px;
}

.profile-photo {
    margin-top: 2rem;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgb(206, 133, 202), 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  
  
  
  .bg-contact{
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    font-family: var(--default-font-family);
    color: var(--secondary-color);
    padding: 100px 20px;
   
  }


  .name{
    
    color: var(--secondary-color);
    font-family: var(--default-font-family);
    font-weight: 300;
    font-size: 22px;
    line-height: 1.5;
    margin:0;
  }    
  
  .name:hover,
  .name:active {
    color: rgb(139, 102, 241);
  }

  nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  .nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 50px;
    font-weight: 300;
    transition: color 0.3s ease;
    margin-left: 15px ;
  }
  
  .nav-list li {
    color: var(--secondary-color);
    font-family: var(--default-font-family);
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    
  }
    
    .nav-list li:hover, 
    .nav-list li:active {
        color:  rgb(139, 102, 241);
    }

    nav a {
        font-size: 20px;
        font-weight: 300;
        margin: 5px 0;
    }

    footer {
        margin: 60px 0;
        text-align: center;
      }
      
      .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        align-items: center;
        flex-direction: row;
      }
      
      footer a {
        color: var(--secondary-color);
        font-family: var(--default-font-family);
        font-weight: 300;
        font-size: 20px;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      
      footer a:hover {
        color: rgb(139, 102, 241);
      }
      
      footer .shecodes-logo {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
      
@media (max-width: 900px) {
 h1 {
        font-size: 50px;
        line-height: 1.5;
    }
    
 .hero h2{
        font-size: 1.2rem;
    }
 .hero{
        padding: 80px 20px;
    }

    .content-container{
            padding: 0;
            text-align: center;

        }
 .hero-tagline{
        font-size: 1.2rem;
    }
    
}
@media (max-width: 900px) {
    .project-description{
        padding: 0;
        text-align: center;
    }
}



